/* Navigation Menu */
nav {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Toggle Section */
.toggle-section {
    display: flex;
    align-items: center;
    cursor: pointer; /* Add cursor pointer for better UX */
}

.toggle-icon {
    margin-right: 5px;
}




/*###################################################################*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

section {
    margin-bottom: 30px;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
